<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta charset="ISO-8859-1">
    <title>Buy Smart Product Page</title>
</head>
<body>

<div class="container">
    <div>
        <a class="navbar-brand" href="/buysmart/product/productmainpage">Products Main Page</a>
        <a class="navbar-brand" href="/buysmart/client/clientmainpage">Clients Main Page</a>
        <a sec:authorize="isAuthenticated()"><a class="navbar-brand" th:href="@{/buysmart/logout}">Logout</a></a>

    </div>
</div>

<div align="center">
    <h1>Shop Manager</h1>
    <a href="/buysmart/shop/new">Add Shop</a>
    <br/><br/>
    <table class="table table-sm">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Phone Number</th>
            <th>E-Mail</th>
            <th>Street Name</th>
            <th>Street Number</th>
            <th>Shopping Centre</th>
            <th>Shop Number</th>
            <th>City Name</th>
            <th>City Code</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="shop : ${listShop}">
            <td th:text="${shop.id}">Id</td>
            <td th:text="${shop.shopName}">Name</td>
            <td th:text="${shop.shopContactDetails.shopPhoneNumber}">Phone Number</td>
            <td th:text="${shop.shopContactDetails.shopEMail}">E-Mail</td>
            <td th:text="${shop.shopAddress.shopStreetName}">Street Name</td>
            <td th:text="${shop.shopAddress.shopStreetNumber}">Street Number</td>
            <td th:text="${shop.shopAddress.shopShoppingCentreName}">Shopping Centre</td>
            <td th:text="${shop.shopAddress.shopNumber}">Shop Number</td>
            <td th:text="${shop.shopAddress.shopCityName}">City Name</td>
            <td th:text="${shop.shopAddress.shopCityCode}">City Code</td>
            <td>
                <a th:href="@{'/buysmart/shop/edit/' + ${shop.id}}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/buysmart/shop/delete/' + ${shop.id}}">Delete</a>
            </td>

        </tbody>
    </table>

</div>
</body>
</html>